.Login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/public/background.png) no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
}

.Login .Logo {
    max-width: 30vw;
    margin-bottom: 20px;
    /* display: block; */
    margin-right: 5vw;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.562));
}

.login-form {
    /* backdrop-filter: blur(60px); */
    background-color: #bfdbe7;
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.443);
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    /* border: 2px solid ; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 0.75rem 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
}

.login-form input:focus {
    border-color: #3498db;
    background-color: #fff;
}

.login-button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #6c63ff, #3498db);
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: transform 0.2s;
    margin-top: 1rem;
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.3);
}

.login-Terms {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #666;
}

.login-Terms p {
    margin-bottom: 0.5rem;
}

.login-Terms input {
    margin-top: 0.5rem;
    transform: scale(1.2);
}

.login-toggle {
    text-align: center;
    margin-top: 1.5rem;
    color: #111;
    opacity: 0.8;
}

.login-toggle p {
    font-size: 0.9rem;
}

.login-toggle span {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.2s;
    color: #6b63ff;
}

.login-toggle span:hover {
    color: #6b63ff7b;
}


